body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    text-align: center;
}

.logo img {
    width: 50px;
    height: auto;
}

.container {
    position: relative;
    width: 90%;
    height: 80%;
    margin-top: 50px; /* Ajusta según sea necesario */
}

.mirror {
    text-align: center;
}

.formulario_inicio {
    width: 80%;
    padding: 5%;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    color: #555;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    top: 1%;
}

select {
    appearance: none;
}

button {
    background-color: rgb(37, 116, 200);
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

/* Estilos adicionales para mejorar la apariencia en dispositivos más pequeños */
@media only screen and (max-width: 400px) {
    .formulario_inicio {
        width: 90%;
    }
}