html {
    background-color: black;
    font-family: 'Chivo';
    font-size: 30px;
}

.mensaje_usuario {
    text-align: right;
    margin-top: 50px;
    margin-left: 70%;
    margin-right: 2%;
    width: auto;
    height: auto;
    padding: 25px;
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
}

.mensaje_bot {
    text-align: left;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 70%;
    width: auto;
    height: auto;
    padding: 25px;
    background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
    box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 23px;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
}

.mensaje_usuario:hover,
.mensaje_bot:hover {
    transform: scale(1.05);
}



.botones{
    align-items: center;
    margin: auto;
    text-align: center;
    


}
button {
    margin:auto;
    text-align: center;
    align-items: center;
    padding: 15px 25px;
    font-size: 80px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }