body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 35px
}

.logo {
    text-align: center;
}

.logo img {
    width: 50%; /* Ajustado para adaptarse al 50% del ancho de la pantalla */
    height: auto;
}

.container {
    position: relative;
    width: 80%; /* Ajustado para adaptarse al 80% del ancho de la pantalla */
    height: 60%; /* Ajustado para adaptarse al 60% de la altura de la pantalla */
    margin-top: 15px; /* Ajusta según sea necesario */
}

.mirror {
    text-align: center;
}

.formulario_inicio {
    width: 90%; /* Ajustado para adaptarse al 90% del ancho de la pantalla */
    padding: 7%; /* Ajustado para adaptarse al 7% del ancho de la pantalla */
    background-color: #fff;
    margin: 10px auto; /* Ajustado para adaptarse al 10px de margen en la parte superior e inferior */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 7em; /* Ajustado para que la fuente sea más grande */
}

label {
    display: block;
    margin-top: 8px; /* Ajustado para adaptarse al 8px de margen superior */
    color: #555;
    font-weight: bold;
    font-size: 1.4em; /* Ajustado para que la fuente sea más grande */
}

input,
select,
textarea {
    width: 100%;
    padding: 12px; /* Ajustado para adaptarse al 12px de relleno */
    margin: 8px 0; /* Ajustado para adaptarse al 8px de margen superior e inferior */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1.2em; /* Ajustado para que la fuente sea más grande */
}

select {
    appearance: none;
}

button {
    background-color: rgb(37, 116, 200);
    color: white;
    padding: 16px 20px; /* Ajustado para adaptarse al 16px de relleno arriba y abajo, 20px de relleno a los lados */
    margin: 8px 0; /* Ajustado para adaptarse al 8px de margen superior e inferior */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    font-size: 1.4em; /* Ajustado para que la fuente sea más grande */
}

button:hover {
    opacity: 0.8;
}

/* Estilos adicionales para mejorar la apariencia en dispositivos más pequeños */

p {
    font-size: em; /* Esto ajustará el tamaño de la fuente a 1.1 veces el tamaño de la fuente del elemento padre (en este caso, el <body>) */
}