body {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: 1500px;
  background-color: #ffff;
  border: 3px solid #070707;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
  padding: 30px;
  position: absolute;
  top: 50%;
  /* Ajusta la posición verticalmente según tu diseño */
  left: 50%;
  /* Ajusta la posición horizontalmente según tu diseño */
  transform: translate(-50%, -50%);
  /* Centra el contenido */
  z-index: 1;
  /* Coloca el contenido por encima del fondo */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.form-element {
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  text-align: center;
}

img {
  width: 100%;
  ;
}

/* Inputs del index */
.input {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 1000px;
  height: 400px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 120px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
  margin-bottom: 20px;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}


.button {
  font-size: 80px;
  position: relative;
  height: 200px;
  width: 600px;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button:hover {
  background-color: #2d8cf0;
}


/* Estilos para el enlace de olvidar contraseña */
.olvidar-contraseña {
  margin-top: 20px;
  margin-bottom: 60px;
  color: #0088cc;
  /* Cambia el color según tu preferencia */
  text-decoration: none;
  font-size: 70px;
}

.olvidar-contraseña:hover {
  text-decoration: underline;
  /* Subraya el enlace al pasar el mouse por encima */
  /* Otros estilos al pasar el mouse */
}