<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconocimiento de Voz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <button id="startRecognition">Iniciar Reconocimiento de Voz</button>
    <button id="borrarConversacion">Borrar Conversación</button>
    <div id="conversacion"></div>

    <script>
        $('#startRecognition').click(function () {
            $.ajax({
                url: "/reconocer-voz/",
                type: "POST",
                success: function (response) {
                    var pregunta = "<p><strong>Pregunta:</strong> " + response.resultado + "</p>";
                    var respuesta = "<p><strong>Respuesta:</strong> " + response.contestacion + "</p>";
                    var conversacion = pregunta + respuesta;

                    $('#conversacion').append(conversacion);

                    var speech = new SpeechSynthesisUtterance();
                    speech.lang = 'es-ES';
                    speech.text = response.contestacion;
                    speech.rate = 1.5;

                    speechSynthesis.speak(speech);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });

        $('#borrarConversacion').click(function () {
            $('#conversacion').empty();
        });
    </script>
</body>

</html>