<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href='https://fonts.googleapis.com/css?family=Chivo' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/espejo.css' %}">
</head>

<body>
    <div class="mensaje_bot">
        <h1>Hola!</h1>
    </div>
    <div id="mensajeUsuarioContainer"></div>
    <div class="wrap">
        <button id="animatedButton" class="button"><img src="{% static 'images/microfono.png' %}" alt=""></button>
    </div>
    <script>
        let contador = 1; // Variable para mantener un conteo de los mensajes del usuario
        document.getElementById('animatedButton').addEventListener('click', function () {
            fetch('/transcribir_audio/', {
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    // Obtener la hora actual
                    const now = new Date();
                    const hora = now.toLocaleTimeString();

                    // solo la hora y minutos
                    const horaMinutos = hora.split(':').slice(0, 2).join(':');

                    // Crear un div para el mensaje del usuario con la hora y mostrar el texto de la transcripción
                    const mensajeUsuarioContainer = document.getElementById('mensajeUsuarioContainer');
                    const nuevoDiv = document.createElement('div');
                    nuevoDiv.className = 'mensaje_usuario';
                    nuevoDiv.innerHTML = `<h1>${data.transcripcion} <strong>${horaMinutos}</strong></h1>`;
                    mensajeUsuarioContainer.appendChild(nuevoDiv);
                    contador++; // Incrementar el contador para el siguiente mensaje
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
</body>


</html>