<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espacio de Usuario</title>
    <link rel="stylesheet" href="{% static 'css/habitacion.css' %}">
    <link rel="stylesheet" href="{% static 'css/fondo1.css' %}">

</head>

<body>

    <body>
        <div class="container">
            <h1>Información Usuarios Registrados</h1>
            {% for persona in personas_registradas %}
            <div class="user">
                <h2><a href="{% url 'ayuda' usuario_id=persona.id %}">{{ persona.nombre }} {{ persona.apellidos }}</a>
                </h2>
                <p>Habitación {{ persona.habitacion }} <span class="arrow">&rarr;</span> Espejo 1</p>
            </div>
            {% endfor %}

            <button class="Registro">Añadir Residentes</button>
        </div>
        <script>
            document.querySelector('.Registro').addEventListener('click', function () {
                window.location.href = "{% url 'registro' %}";
            });
        </script>
    </body>

</html>