<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espacio de Usuario</title>
    <link rel="stylesheet" href="{% static 'css/habitacion.css' %}">
    <link rel="stylesheet" href="{% static 'css/fondo1.css' %}">

</head>

<body>
    <div class="container">

        <div class="mirror">
            <div class="logo">
                <img src="{% static 'images/logo3.png' %}" alt="Logo">
            </div>
            <h2>Información Usuarios Registrados</h2>

        </div>
        <div class="user">
            <h2><a href='{% url "ayuda" %}'>Usuario 1</a></h2>
            <p>Habitación 1 <span class="arrow">&rarr;</span>Espejo 1</p>
        </div>
        <div class="user">
            <h2><a href='{% url "ayuda" %}'>Usuario 2</a></h2>
            <p>Habitación 2 <span class="arrow">&rarr;</span>Espejo 2</p>
        </div>
        <div class="user">
            <h2><a href='{% url "ayuda" %}'>Usuario 3</a></h2>
            <p>Habitación 3 <span class="arrow">&rarr;</span>Espejo 3</p>
        </div>
    </div>


    <div class="area">
        <ul class="circles">

            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
</body>

</html>